{% extends 'frontend/base.html' %}
{% load static %}
{% load humanize %}
{% block main %}

<!DOCTYPE html>
	
    <!-- Feature Start -->
    <div class="container-fluid bg-image" style="margin: 0px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 my-5 pt-5 pb-lg-5">
                    <div class="rtl section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2 myfont rtl">کدها و محصولات گرافیکی اینجا خریدار داره</h6>
                        <h1 class="display-4 myfont">مارکت خرید و فروش پروژه و فایل آماده</h1>
                    </div>
                    <p class="rtl myfont mb-4 pb-2">ما یه رابطیم بین برنامه نویسان و طراحان باتجربه و کسانی که میخوان خیلی سریع به چیزی که میخوان دست پیدا کنند. البته یه رابطی که حواسش به همه چی هست!</p>
                    <div class="rtl myfont d-flex mb-3">
                        <div class="btn-icon bg-primary mr-4">
                            <i class="fa fa-2x fa-graduation-cap text-white"></i>
                        </div>
                        <div class="myfont mt-n1">
                            <h4 class="myfont">متخصصی؟</h4>
                            <p>فرقی نداره برنامه نویسی یا طراح گرافیک و.. اینجا میتونی فایل پروژه هاتو بفروشی. مثلا یه نرم افزار ویندوزی فلان یا یه  فایل لایه باز برای فتوشاپ</p>
                        </div>
                    </div>
                    <div class="rtl myfont d-flex mb-3">
                        <div class="btn-icon bg-secondary mr-4">
                            <i class="fa fa-2x fa-certificate text-white"></i>
                        </div>
                        <div class="myfont mt-n1">
                            <h4 class="myfont">دنبال پروژه آماده ای؟</h4>
                            <p>بهترینجا همینجاست برای خرید چیزی که مد نظر داری از قالب وردپرس تا یه اپ موبایلی آماده! میدونی که چقدر تو زمانت صرفه جویی هم میشه!</p>
                        </div>
                    </div>
                    <div class="rtl myfont d-flex">
                        <div class="btn-icon bg-warning mr-4">
                            <i class="fa fa-2x fa-duotone fa-credit-card text-white"></i>
                        </div>
                        <div class="myfont mt-n1">
                            <h4 class="myfont">تضمین بی قید و شرط</h4>
                            <p class="m-0">تا هفت روز بدون هیچ دلیلی میتونی پولتو پس بگیری! البته بعد از این موعد هم تنها نیستی هم ما و هم فروشنده ی محصول کنارتیم</p>
                        </div>
                    </div>
                </div>
                <div class="rtl myfont col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{% static 'frontend/img/feature.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Start -->


    <!-- Courses Start -->
    <div class="container-fluid px-0 py-5">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h6 class="myfont d-inline-block position-relative text-secondary text-uppercase pb-2">کدها قالب ها اپ ها فایل های لایه باز</h6>
                    <h1 class="myfont display-4">محصولات جدید کدمونی</h1>
                </div>
            </div>
        </div>
        
    
		        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'frontend/css2/styles.css' %}" rel="stylesheet" />
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="/media/{{ product.image }}" style=' border-radius: 25px !important;' alt="{{ product.productname }}" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="myfont text-center">
                                    <!-- Product name-->
                                    <h5 class="myfont fw-bolder">{{ product.productname }}</h5>
                                    <!-- Product reviews-->
                                    <div class="myfont d-flex justify-content-center small mb-2">
                                        <i class="fa fa-user mr-2"></i><small>{{ product.seller.get_full_name }}</small>
                                    </div>
                                    <!-- Product price-->
                                    {{ product.price |intcomma:False}}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="myfont btn btn-outline-dark mt-auto" href="/product/{{ product.slug }}" style='border-radius: 14px !important;'>نمایش محصول</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        
        <div class="row justify-content-center bg-image mx-0 mb-5">
            <div class="col-lg-6 py-5">
                <div class="bg-white p-5 my-5">
                {% if user.is_authenticated %}
                <h3 class="myfont text-center mb-4">اطلاعات حسابت رو کامل کن! <a href='/account'>(بزن بریم)</a></h3>
                {% else %}
                    <h1 class="myfont text-center mb-4">ثبت محصول رایگان!</h1>
                    <form>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control bg-light border-0" placeholder="Your Name" style="padding: 30px 20px;">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control bg-light border-0" placeholder="Your Email" style="padding: 30px 20px;">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="custom-select bg-light border-0 px-3" style="height: 60px;">
                                        <option selected>Select A courses</option>
                                        <option value="1">courses 1</option>
                                        <option value="2">courses 1</option>
                                        <option value="3">courses 1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary btn-block" type="submit" style="height: 60px;">Sign Up Now</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                    <br>
                    <div class="rtl bg-light d-flex flex-column justify-content-center px-5" style="height: 450px;">
                        <div class="d-flex align-items-center mb-5">
                            <div class="btn-icon bg-primary mr-4">
                                <i class="fa fa-2x fa-map-marker-alt text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4 class="myfont">مکان ما</h4>
                                <p class="myfont m-0">ایران مازندران</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-5">
                            <div class="btn-icon bg-secondary mr-4">
                                <i class="fa fa-2x fa-phone-alt text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4 class="myfont">شماره تلفن</h4>
                                <p class="myfont m-0">+0912 345 6789</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="btn-icon bg-warning mr-4">
                                <i class="fa fa-2x fa-envelope text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4 class="myfont">ایمیل</h4>
                                <p class="myfont m-0">info@codemoni.ir</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->
    

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'frontend/js2/scripts.js' %}"></script>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'frontend/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'frontend/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'frontend/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'frontend/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'frontend/js/main.js' %}"></script>
{% endblock %}
