{% extends 'frontend/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}{{ productdetail.productname }}{% endblock %}
{% block main %}
<!DOCTYPE html>
    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 0px; background: linear-gradient(rgba(40, 120, 235, 0.9), rgba(40, 120, 235, 0.9)), url(/media/{{ productdetail.image }}), no-repeat center center;">
        <div class="container text-center py-5">
            
            <h1 class="myfont text-white display-1">{{ productdetail.productname }}</h1>

            <div class="d-inline-flex text-white mb-5">
                <p class="m-0 text-uppercase"><a class="myfont text-white" href="">{{ productdetail.productname }}</a></p>
                <i class="fa fa-angle-double-left pt-1 px-3"></i>
                <a href="/"><p style='color:white' class="myfont m-0 text-uppercase">صفحه اصلی</p></a>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Detail Start -->
    <div class="rtl container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <div class="rtl section-title position-relative mb-5">
                        	<p class="myfont rtl">{{ productdetail.description }}</p>
                        </div>
                        <div class="rtl section-title position-relative mb-5">
                        	<h6 class="rtl myfont d-inline-block position-relative text-secondary text-uppercase pb-2">توضیحات بیشتر:</h6>
                        	<p class="myfont rtl">{{ productdetail.body }}</p>
                        </div>

                    </div>

                    <h2 class="myfont mb-3">محصولات مرتبط<small> بزودی </small></h2>
                    <div class="owl-carousel related-carousel position-relative" style="padding: 0 30px;">
                        
                        
                    </div>
               </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="bg-primary mb-5 py-3">
                        <h3 class="myfont text-white py-3 px-4 m-0">مشخصات محصول</h3>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="myfont text-white my-3">فروشنده</h6>
                            <h6 class="myfont text-white my-3">{{ productdetail.seller.get_full_name }}</h6>
                        </div>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="myfont text-white my-3">زمان انتشار</h6>
                            <h6 class="myfont text-white my-3">{{ productdetail.created }}</h6>
                        </div>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="myfont text-white my-3">بروز شده</h6>
                            <h6 class="myfont text-white my-3">{{ productdetail.updated }}</h6>
                        </div>
                        <div class="d-flex justify-content-between px-4">
                            <h6 class="myfont text-white my-3">کد محصول</h6>
                            <h6 class="myfont text-white my-3">{{ productdetail.pid }}</h6>
                        </div>
                        <h5 class="myfont text-white py-3 px-4 m-0">قیمت محصول: {{ productdetail.price |intcomma:False}}</h5>
                        <div class="py-3 px-4">
                            <a class="myfont btn btn-block btn-secondary py-3 px-5" href="{{link}}">{{text}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Detail End -->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'frontend/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'frontend/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'frontend/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'frontend/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'frontend/js/main.js' %}"></script>
{% endblock %}
