{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}محصولات{% endblock %}
{% block main %}
        <div class="container">
            <div class="row">
                <div class="col-lg-7 my-5 pt-5 pb-lg-5">
                    <div class="rtl section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2 myfont rtl">کدها و محصولات گرافیکی</h6>
                        <h1 class="display-4 myfont">محصولات</h1></div></div></div></div>
		        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'frontend/css2/styles.css' %}" rel="stylesheet" />
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a style='text-decoration: none;' href="/product/{{ product.slug }}"><img class="card-img-top" src="/media/{{ product.image }}" style=' border-radius: 25px !important;' alt="{{ product.productname }}" /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="myfont text-center">
                                    <!-- Product name-->
                                    <h5 class="myfont fw-bolder"><a style='text-decoration: none;' href="/product/{{ product.slug }}">{{ product.productname }}</a></h5>
                                    <!-- Product reviews-->
                                    <div class="myfont d-flex justify-content-center small mb-2">
                                        <i class="fa fa-user mr-2"></i><small>{{ product.seller.get_full_name }}</small>
                                    </div>
                                    <!-- Product price-->
                                    {{ product.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="myfont btn btn-outline-dark mt-auto" href="/product/{{ product.slug }}" style='border-radius: 14px !important;'>نمایش محصول</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'frontend/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'frontend/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'frontend/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'frontend/lib/owlcarousel/owl.carousel.min.js' %}"></script>

{% endblock %}
